@charset "UTF-8";
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/opensanslight.woff2") format("woff2"), url("../fonts/../fonts/opensanslight.woff2") format("woff1");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/opensanslight.woff1") format("woff2"), url("../fonts/../fonts/opensanslight.woff1") format("woff1");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/opensans.woff2") format("woff2"), url("../fonts/../fonts/opensans.woff2") format("woff1");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/opensans.woff1") format("woff2"), url("../fonts/../fonts/opensans.woff1") format("woff1");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/opensansbold.woff2") format("woff2"), url("../fonts/../fonts/opensansbold.woff2") format("woff1");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/opensansbold.woff1") format("woff2"), url("../fonts/../fonts/opensansbold.woff1") format("woff1");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-family: "OpenSans";
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  background-color: #fff; }
  @media (min-width: 1200px) {
    body {
      font-size: 18px; } }

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover; }

a {
  text-decoration: none; }

.container {
  max-width: 280px;
  margin: auto;
  padding: 0 20px; }
  @media (min-width: 660px) {
    .container {
      max-width: 620px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 940px;
      padding: 0 130px; } }

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer; }

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0; }

.centered {
  width: 100%;
  text-align: center; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

.slogan {
  margin: 0;
  font-size: 24px;
  font-weight: 300; }
  @media (min-width: 660px) {
    .slogan {
      font-size: 40px; } }
  @media (min-width: 1200px) {
    .slogan {
      font-size: 50px;
      line-height: 68px; } }

.link-fill {
  color: #d22856; }

.header {
  position: relative;
  -webkit-transform: translateY(-75px);
          transform: translateY(-75px); }
  @media (min-width: 660px) {
    .header {
      -webkit-transform: translateY(-90px);
              transform: translateY(-90px); } }
  .header__wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(75px);
            transform: translateY(75px); }
    @media (max-width: 1199px) {
      .header__wrapper--active {
        background-color: #283645; } }
    @media (min-width: 660px) {
      .header__wrapper {
        -webkit-transform: translateY(90px);
                transform: translateY(90px); } }
  @media (min-width: 1200px) {
    .header__flex-desktop {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .header__flex-desktop-only {
    position: relative;
    padding: 20px 0; }
    @media (max-width: 1199px) {
      .header__flex-desktop-only {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }

.logo:hover {
  fill: #d22856; }
.logo:active {
  fill: rgba(255, 255, 255, 0.3); }
@media (min-width: 660px) {
  .logo-mobile {
    display: none; } }
@media (max-width: 659px) {
  .logo-tablet {
    display: none; } }
@media (min-width: 1200px) {
  .logo-tablet {
    display: none; } }
@media (max-width: 1199px) {
  .logo-desktop {
    display: none; } }

@media (min-width: 1200px) {
  .header_btn {
    display: none; } }

.header_btn--open {
  position: relative;
  width: 50px;
  height: 3px;
  margin-bottom: 3px;
  background-color: #fff; }
  .header_btn--open::before, .header_btn--open::after {
    content: "";
    width: 50px;
    height: 3px;
    background-color: #fff;
    position: absolute; }
  .header_btn--open::before {
    top: 0;
    left: 0;
    margin-top: 10px; }
  .header_btn--open::after {
    bottom: 0;
    left: 0;
    margin-bottom: 10px; }
  .header_btn--open:hover, .header_btn--open:hover::before, .header_btn--open:hover::after {
    background-color: #d22856; }
  .header_btn--open:active, .header_btn--open:active::before, .header_btn--open:active::after {
    background-color: rgba(210, 40, 86, 0.3); }

.header_btn--close {
  position: relative;
  width: 24px;
  height: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff; }
  .header_btn--close::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .header_btn--close:hover, .header_btn--close:hover::before {
    background-color: #d22856; }
  .header_btn--close:active, .header_btn--close:active::before {
    background-color: rgba(210, 40, 86, 0.3); }

.header__content-main {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/header-img/header-bg-mobile.jpg);
  background-color: #283645;
  min-height: 465px; }
  @media (min-width: 660px) {
    .header__content-main {
      background-image: url(../img/header-img/header-bg-tablet.jpg);
      min-height: 700px; } }
  @media (min-width: 1200px) {
    .header__content-main {
      background-image: url(../img/header-img/header-bg-desktop.jpg);
      min-height: 800px; } }

.header__content-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/header-img/secondary-bg-mobile.jpg);
  background-color: #283645;
  min-height: 150px; }
  @media (min-width: 660px) {
    .header__content-secondary {
      background-image: url(../img/header-img/secondary-bg-tablet.jpg);
      min-height: 300px; } }
  @media (min-width: 1200px) {
    .header__content-secondary {
      background-image: url(../img/header-img/secondary-bg-desktop.jpg);
      min-height: 300px; } }

@media (min-width: 660px) {
  .header__wrapper-slogan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 100px;
    padding-left: 70px; } }

.header__slogan {
  color: #fff;
  padding-top: 100px; }
  @media (min-width: 660px) {
    .header__slogan {
      width: 230px;
      line-height: 48px; } }
  @media (min-width: 1200px) {
    .header__slogan {
      line-height: 68px;
      margin-left: 30px; } }
  .header__slogan--desktop {
    padding-bottom: 50px; }
    @media (min-width: 660px) {
      .header__slogan--desktop {
        width: 400px;
        line-height: 68px; } }
    @media (min-width: 1200px) {
      .header__slogan--desktop {
        width: 750px; } }

.main {
  -webkit-transform: translateY(-75px);
          transform: translateY(-75px); }
  @media (min-width: 660px) {
    .main__page {
      -webkit-transform: translateY(-385px);
              transform: translateY(-385px); } }

@media (min-width: 660px) {
  .advantage {
    margin-bottom: 100px; } }

.slaogan-wrapper {
  margin-bottom: 50px; }

.advantage__slaogan {
  padding-top: 20px; }

.advantage__wrapper {
  background-color: #f2f2f2; }

.advantage__list {
  padding-bottom: 350px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url(../img/advantage-img/phone-smail.png); }
  @media (min-width: 660px) {
    .advantage__list {
      padding: 0;
      background-size: 268px 547px;
      background-position: left;
      min-height: 550px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media (min-width: 1200px) {
    .advantage__list {
      background-image: none;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: auto; } }

.advantage__item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 265px 300px;
  background-position: top;
  padding-top: 40px; }
  @media (min-width: 660px) {
    .advantage__item {
      width: 310px; } }
  @media (min-width: 1200px) {
    .advantage__item {
      width: 240px; } }

@media (min-width: 1200px) {
  .advantage__item--img-phone-gray {
    background-image: url(../img/advantage-img/phone-desktop-gray.png); } }

@media (min-width: 1200px) {
  .advantage__item--img-phone-pink {
    background-image: url(../img/advantage-img/phone-desktop-pink.png); } }

@media (min-width: 1200px) {
  .advantage__item--img-phone-smile {
    background-image: url(../img/advantage-img/phone-desktop-smail.png); } }

@media (max-width: 659px) {
  .advantage__wrapper-research {
    display: none; } }
@media (min-width: 660px) {
  .advantage__wrapper-research {
    padding-top: 50px; } }
@media (min-width: 1200px) {
  .advantage__wrapper-research {
    background-color: #f2f2f2;
    padding-bottom: 50px; } }

@media (min-width: 660px) {
  .advantage__wrapper-content {
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 238px 276px;
    background-image: url(../img/advantage-img/timer.svg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media (min-width: 660px) {
  .advantage__content {
    width: 310px; } }
@media (min-width: 1200px) {
  .advantage__content {
    width: 534px; } }

.advantage__lead {
  margin-top: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center; }
  @media (min-width: 1200px) {
    .advantage__lead {
      padding-top: 350px;
      font-size: 30px; } }

.advantage__lead,
.advantage__description {
  line-height: 24px;
  text-align: center; }
  @media (min-width: 660px) {
    .advantage__lead,
    .advantage__description {
      text-align: start; } }
  @media (min-width: 1200px) {
    .advantage__lead,
    .advantage__description {
      text-align: center; } }

@media (min-width: 660px) {
  .advantage__lead--big {
    max-width: 168px;
    font-size: 30px;
    line-height: 36px; } }
@media (min-width: 1200px) {
  .advantage__lead--big {
    padding: 0;
    max-width: 300px;
    line-height: 30px; } }

@media (min-width: 1200px) {
  .advantage__description--align {
    text-align: start; } }

.advantage__link {
  line-height: 24px;
  text-decoration: underline; }

.reviews {
  padding: 50px 0; }

@media (min-width: 1200px) {
  .reviews__slider {
    background-repeat: no-repeat;
    background-position: top;
    background-size: 80px 63px;
    background-image: url(../img/reviews-img/quotes.svg);
    padding-top: 100px; } }

@media (max-width: 1199px) {
  .reviews__btn {
    display: none; } }

.btn-prev {
  float: left; }

.btn-next {
  float: right; }

.btn-prev,
.btn-next {
  -webkit-transform: translateY(100px);
          transform: translateY(100px); }

@media (min-width: 660px) {
  .reviews__item--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media (min-width: 660px) {
  .reviews__wrapper--flex {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; } }

.reviews__name {
  font-size: 18px;
  font-weight: 700; }
  @media (min-width: 660px) {
    .reviews__name {
      font-size: 20px; } }
  @media (min-width: 1200px) {
    .reviews__name {
      font-size: 24px; } }

@media (max-width: 659px) {
  .reviews__info {
    display: none; } }

@media (min-width: 660px) {
  .reviews__description {
    font-size: 18px; } }
@media (min-width: 1200px) {
  .reviews__description {
    max-width: 688px; } }

.toggle-slader__btn {
  background-color: rgba(40, 54, 69, 0.3);
  width: 6px;
  height: 6px;
  padding: 3px;
  border-radius: 50%;
  margin-right: 15px; }
  .toggle-slader__btn:last-child {
    margin-right: 0; }
  .toggle-slader__btn:hover {
    background-color: rgba(40, 54, 69, 0.6); }
  .toggle-slader__btn:active {
    background-color: rgba(40, 54, 69, 0.1); }
  .toggle-slader__btn--active {
    background: transparent;
    border: 3px solid #283645; }

@media (min-width: 1200px) {
  .toggle-slader__btn--reviewse {
    display: none; } }

.price {
  background-color: #f2f2f2;
  padding-top: 100px;
  padding-bottom: 50px; }

.price__table {
  border-collapse: collapse;
  margin-bottom: 45px; }

.price__status {
  width: 276px;
  position: relative;
  font-size: 16px;
  height: 95px;
  color: #fff;
  background-color: #283645;
  border-right: 2px solid #f2f2f2; }
  .price__status:nth-child(2) {
    border-top-left-radius: 5px; }
  .price__status:last-child {
    border-top-right-radius: 5px; }
  .price__status--popular::before {
    content: "";
    width: 74px;
    height: 74px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/table-img/hit.svg);
    background-repeat: no-repeat; }

.price__cost {
  font-size: 18px;
  font-weight: 300; }

.price__cell {
  padding-left: 20px;
  border: 2px solid #e5e5e5;
  background-color: #fff;
  width: 276px;
  height: 60px; }

.price__cell--on {
  background-image: url(../img/table-img/yes.svg);
  background-repeat: no-repeat;
  background-position: center; }

.price__cell--off {
  background-image: url(../img/table-img/no.svg);
  background-repeat: no-repeat;
  background-position: center; }

.table-disabled {
  display: none; }

@media (min-width: 660px) {
  .toggle-slader__btn--price {
    display: none; } }

.contacts {
  padding-top: 50px;
  margin-bottom: 70px; }

.contacts__sloagan {
  margin-bottom: 45px; }
  @media (min-width: 660px) {
    .contacts__sloagan {
      line-height: 54px; } }
  @media (min-width: 1200px) {
    .contacts__sloagan {
      line-height: 68px; } }

@media (min-width: 660px) {
  .contacts__wrapper-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 100px;
            column-gap: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.contacts__wrapper-content {
  margin-bottom: 30px; }
  @media (min-width: 1200px) {
    .contacts__wrapper-content:nth-child(2) {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; } }

.contacts__lead {
  font-size: 18px;
  line-height: 25px; }

.contacts__link {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300; }
  .contacts__link:hover {
    color: #283645;
    text-decoration: underline; }
  .contacts__link:active {
    opacity: 0.3; }

@media (min-width: 660px) {
  .footer__page {
    padding-top: 40px;
    -webkit-transform: translateY(-385px);
            transform: translateY(-385px); } }

@media (min-width: 660px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.footer__link {
  display: inline-block;
  margin-bottom: 40px; }

.footer__logo:hover {
  fill: #d22856; }
.footer__logo:active {
  fill: #283645;
  fill-opacity: 0.3; }

.social,
.copyright {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 15px;
          column-gap: 15px; }

.social__link {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%; }
  .social__link:hover {
    border: 3px solid #283645; }
  .social__link:active {
    opacity: 0.1; }

.social__link--twitter {
  background-image: url(../img/logo/twitter.svg); }

.social__link--facebook {
  background-image: url(../img/logo/facebook.svg); }

.social__link--youtube {
  background-image: url(../img/logo/youtube.svg); }

.copyright__logo:hover {
  fill: #283645; }
.copyright__logo:active {
  fill-opacity: 0.3; }

@media (min-width: 660px) {
  .form {
    display: grid;
    margin-bottom: 50px; } }
@media (min-width: 1200px) {
  .form {
    grid-template-columns: 600px 340px; } }
@media (min-width: 1201px) {
  .form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media (min-width: 1200px) {
  .form__contact {
    grid-row: 2; } }
@media (min-width: 1201px) {
  .form__contact {
    padding: 0; } }

@media (min-width: 1200px) {
  .form-checkbox {
    grid-row: 3;
    margin: auto;
    padding: 0 130px; } }
@media (min-width: 1201px) {
  .form-checkbox {
    padding: 0; } }

@media (min-width: 1200px) {
  .form-coment {
    grid-row: 4; } }
@media (min-width: 1201px) {
  .form-coment {
    padding: 0; } }

.form__text {
  padding-top: 55px;
  margin-bottom: 55px; }
  @media (max-width: 659px) {
    .form__text--tablet {
      display: none; } }
  @media (min-width: 660px) {
    .form__text {
      max-width: 400px;
      padding-top: 100px;
      margin-bottom: 82px; } }
  @media (min-width: 1200px) {
    .form__text {
      max-width: 770px; } }

.form__user {
  margin-bottom: 60px; }
  @media (min-width: 660px) {
    .form__user {
      -webkit-box-ordinal-group: -2;
          -ms-flex-order: -3;
              order: -3; } }
  @media (min-width: 1201px) {
    .form__user {
      padding: 0;
      -webkit-transform: translateX(-90px);
              transform: translateX(-90px); } }

@media (min-width: 660px) {
  .form__user-item:not(:last-child) {
    margin-bottom: 50px; } }
@media (min-width: 1200px) {
  .form__user-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px; } }

@media (min-width: 660px) {
  .form__fieldset-radio {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2; } }

@media (min-width: 1200px) {
  .form__fieldset--radio {
    max-width: 430px;
    margin-left: 50px; } }
@media (min-width: 1201px) {
  .form__fieldset--radio {
    margin-left: -80px; } }

@media (min-width: 660px) {
  .form__contact {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; } }

.fieldset {
  background-color: #f2f2f2; }
  @media (min-width: 660px) {
    .fieldset {
      background-color: #fff; } }

.form__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  padding: 0; }
  @media (min-width: 660px) {
    .form__fieldset {
      border: 2px solid #e5e5e5;
      width: 620px;
      margin-bottom: 70px; } }
  @media (min-width: 1200px) {
    .form__fieldset {
      width: 940px; } }

.legend {
  line-height: 18px;
  padding-top: 40px;
  text-transform: uppercase; }
  @media (min-width: 660px) {
    .legend {
      padding: 0 30px; } }

@media (max-width: 659px) {
  .form__user-item,
  .form__contact-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.form__name-label {
  color: #d22856;
  -ms-flex-item-align: start;
      align-self: flex-start; }
  @media (min-width: 1200px) {
    .form__name-label {
      margin-right: 20px; } }

.label {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px; }

.form__description {
  max-width: 230px;
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  left: 50px;
  margin: 40px 0;
  padding-top: 5px;
  padding-left: 15px; }

.form__input {
  font-size: 18px;
  padding: 10px;
  border: 2px solid #e5e5e5;
  outline: none;
  border-radius: 2px; }
  @media (min-width: 660px) {
    .form__input {
      min-height: 37px; } }

@media (min-width: 660px) {
  .form__input--name {
    width: 500px; } }
@media (min-width: 1200px) {
  .form__input--name {
    width: 300px; } }

.form__list {
  text-align: start; }

@media (min-width: 660px) {
  .form__list--check {
    margin-left: 80px; } }
@media (min-width: 1200px) {
  .form__list--check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 100px;
            column-gap: 100px;
    margin-left: 0;
    margin: 50px 0; } }

@media (min-width: 660px) {
  .form__list--radio {
    margin-left: 80px; } }

.form__fieldset-contact {
  margin-bottom: 40px; }

@media (min-width: 660px) {
  .form__contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 40px 0; } }
@media (min-width: 1200px) {
  .form__contact-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 70px;
            column-gap: 70px; } }

@media (min-width: 660px) {
  .form__contact-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 400px; } }

.legend-contact {
  display: none; }
  @media (min-width: 660px) {
    .legend-contact {
      display: block; } }

@media (min-width: 660px) {
  .label-contact {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; } }

@media (min-width: 660px) {
  .form__contact--phone::after,
  .form__contact--email::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e5e5e5;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center; } }

@media (min-width: 660px) {
  .form__contact--phone::after {
    background-image: url(../img/form-img/phone-icon.svg); } }

@media (min-width: 660px) {
  .form__contact--email::after {
    background-image: url(../img/form-img/mail-icon.svg); } }

.form__fieldset--coment {
  margin-bottom: 50px; }
  @media (min-width: 660px) {
    .form__fieldset--coment {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-bottom: 10px; } }

.coment {
  width: 250px;
  min-height: 197px;
  border: 2px solid #e5e5e5;
  padding: 10px;
  margin-top: 20px; }
  @media (min-width: 660px) {
    .coment {
      width: 500px;
      margin: 50px 0; } }
  @media (min-width: 1200px) {
    .coment {
      width: 815px;
      min-height: 124px; } }

.wrapper-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 660px) {
    .wrapper-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 620px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  @media (min-width: 1200px) {
    .wrapper-btn {
      width: 1200px;
      grid-row: 5; } }
  @media (min-width: 1201px) {
    .wrapper-btn {
      padding: 0; } }

.form-btn {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  width: 276px;
  background-color: #2aab6d;
  color: #fff;
  border-radius: 1px;
  padding: 15px; }
  .form-btn:hover {
    background-color: #1c9b5e; }
  .form-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #1c9b5e; }

.form-btn--disabled {
  background-color: #e5e5e5; }

.mandatory-item {
  text-transform: uppercase;
  width: 180px; }
  .mandatory-item::before {
    content: "*";
    color: #d22856; }
  @media (min-width: 1200px) {
    .mandatory-item {
      width: 250px; } }

@media (min-width: 1200px) {
  .main-catalog {
    font-size: 14px; } }

.user-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.catalog-description {
  width: 250px;
  padding-top: 50px;
  margin-bottom: 60px; }
  @media (min-width: 660px) {
    .catalog-description {
      width: 400px;
      padding-top: 100px;
      margin-bottom: 80px; } }
  @media (min-width: 1200px) {
    .catalog-description {
      width: 450px;
      margin-bottom: 90px; } }

@media (min-width: 660px) {
  .catalog-description-bottom {
    padding-top: 73px;
    margin: 0;
    margin-bottom: 78px; } }

.user-photos__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.user-photos__full-box {
  position: relative; }
  .user-photos__full-box::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    content: "Панорама дня";
    position: absolute;
    top: 0;
    right: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: #d22856;
    width: 140px;
    height: 36px; }
  @media (min-width: 660px) {
    .user-photos__full-box::before {
      top: 60px; } }

@media (min-width: 660px) {
  .full-img {
    height: 509px; } }

.wrapper,
.wrapper-full {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  text-align: start; }

.wrapper-full {
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
  position: relative; }

@media (min-width: 660px) {
  .wrapper {
    max-width: 300px; } }

.user-photos__photo {
  width: 280px;
  height: 180px; }
  @media (min-width: 660px) {
    .user-photos__photo {
      width: 300px;
      height: 300px; } }
  @media (min-width: 1200px) {
    .user-photos__photo {
      height: 400px; } }

.wrapper__content {
  padding: 26px 17px; }
  @media (min-width: 660px) {
    .wrapper__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.wrapper__content-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 3px;
          column-gap: 3px; }

@media (min-width: 660px) {
  .user-photos__description {
    min-height: 60px; }
    .user-photos__description--tablet {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; } }

@media (min-width: 660px) {
  .wrapper__content-like {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .wrapper__content-like--top {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: end;
      -webkit-column-gap: 16px;
              column-gap: 16px;
      position: absolute;
      right: 20px; } }

.user-photos__name {
  margin: 0;
  line-height: 24px;
  font-weight: 700; }

.user-photos__info {
  font-size: 12px;
  line-height: 24px; }

.user-photos__info--time {
  font-weight: 300; }

.user-photos__info--like {
  color: #d22856; }

.user-photos__btn-img {
  width: 13px;
  height: 12px; }

.menu {
  display: none; }
  @media (max-width: 1199px) {
    .menu {
      margin: 0; } }
  @media (min-width: 1200px) {
    .menu {
      display: block;
      max-width: 940px;
      margin: auto; } }

@media (min-width: 1200px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (max-width: 1199px) {
  .menu__item {
    -webkit-box-shadow: 0px 1px 0px #000, inset 0px 1px 0px rgba(255, 255, 255, 0.15);
            box-shadow: 0px 1px 0px #000, inset 0px 1px 0px rgba(255, 255, 255, 0.15); } }
@media (min-width: 1200px) {
  .menu__item:not(:last-child) {
    margin-right: 80px; } }

.menu__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff; }
  .menu__link:hover {
    color: #d22856; }
  .menu__link:active {
    color: rgba(255, 255, 255, 0.3); }
  @media (min-width: 1200px) {
    .menu__link {
      line-height: 18px;
      font-weight: 400;
      text-transform: capitalize; } }

.menu__link--active {
  border-bottom: 2px solid #fff; }
  @media (max-width: 1199px) {
    .menu__link--active {
      border-bottom: none; } }

.download {
  background-color: #283645;
  padding: 30px 0; }
  @media (min-width: 660px) {
    .download {
      background-color: transparent;
      -webkit-transform: translateY(-350px) translateX(-140px);
              transform: translateY(-350px) translateX(-140px); } }
  @media (min-width: 1200px) {
    .download {
      -webkit-transform: translateY(-350px) translateX(-350px);
              transform: translateY(-350px) translateX(-350px); } }

.download__btn {
  display: inline-block;
  width: 280px;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 30px;
  padding: 20px 0;
  margin-bottom: 30px; }
  .download__btn:hover {
    background-color: #fff;
    color: #d22856; }
  .download__btn:active {
    color: rgba(210, 40, 86, 0.3); }
  @media (min-width: 660px) {
    .download__btn {
      width: 300px; } }

.download__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px; }

.download__description {
  color: #fff;
  line-height: 24px;
  font-weight: 300;
  margin: 0;
  margin-top: 30px; }

.map__iframe {
  border: none;
  width: 100%; }
  @media (max-width: 659px) {
    .map__iframe {
      height: 200px; } }
  @media (min-width: 660px) {
    .map__iframe {
      height: 374px; } }
  @media (min-width: 1200px) {
    .map__iframe {
      height: 502px; } }

.form__checkbox + label::before,
.form__radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  background-color: #fff; }

.form__checkbox:checked + label::after,
.form__radio:checked + label::after {
  content: "";
  position: absolute; }

.form__checkbox + label::before {
  border-radius: 1px; }

.form__radio + label::before {
  border-radius: 50%; }

.form__checkbox:checked + label::after {
  top: 10px;
  left: -33px;
  width: 22px;
  height: 16px;
  background: url(../img/form-img/tick.svg);
  background-repeat: no-repeat; }

.form__radio:checked + label::after {
  top: 12px;
  left: -30px;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%; }

.form__input:hover, .form__input:hover + label::before,
.form__checkbox:hover,
.form__checkbox:hover + label::before,
.form__radio:hover,
.form__radio:hover + label::before {
  border-color: #283645; }
.form__input:active, .form__input:active + label::before,
.form__checkbox:active,
.form__checkbox:active + label::before,
.form__radio:active,
.form__radio:active + label::before {
  border-color: #d22856; }
.form__input:focus, .form__input:focus + label::before,
.form__checkbox:focus,
.form__checkbox:focus + label::before,
.form__radio:focus,
.form__radio:focus + label::before {
  border-color: #d22856; }

.popup {
  width: 320px;
  -webkit-box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #fff;
  position: fixed;
  top: 10px; }
  @media (min-width: 660px) {
    .popup {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 460px;
      left: 100px; } }
  @media (min-width: 1200px) {
    .popup {
      width: 780px;
      left: 250px; } }

.popup__lead {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 0; }
  @media (min-width: 660px) {
    .popup__lead {
      width: 300px;
      font-size: 30px;
      line-height: 40px; } }
  @media (min-width: 1200px) {
    .popup__lead {
      width: 400px; } }

.popup__description {
  line-height: 24px;
  padding: 0;
  padding-bottom: 35px; }
  @media (min-width: 660px) {
    .popup__description {
      width: 250px; } }
  @media (min-width: 1200px) {
    .popup__description {
      width: 400px; } }

.popup__wrapper-btn {
  padding: 52px 0; }
  @media (min-width: 660px) {
    .popup__wrapper-btn {
      width: 100%; } }

.popup__wrapper-btn--mobile {
  background-color: #f2f2f2; }

.disabled {
  display: none; }

.filter-photo {
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 40px; }
  @media (min-width: 660px) {
    .filter-photo {
      padding-top: 50px; } }
  @media (min-width: 1200px) {
    .filter-photo {
      max-width: 940px;
      margin: auto; } }

@media (min-width: 1200px) {
  .container-none {
    padding: 0; } }

@media (min-width: 660px) {
  .filter-photo__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }
@media (min-width: 1200px) {
  .filter-photo__wrapper {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; } }

@media (min-width: 660px) {
  .filter-photo__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 60px; } }
@media (min-width: 1200px) {
  .filter-photo__form {
    row-gap: 130px; } }

.filter-photo__img {
  width: 280px;
  height: 374px; }

.filter-photo__range {
  position: relative;
  border-bottom: 1px solid rgba(40, 54, 69, 0.1);
  margin-bottom: 70px; }
  @media (min-width: 660px) {
    .filter-photo__range {
      margin-bottom: 30px; }
      .filter-photo__range::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 10px;
        background-repeat: no-repeat; }
      .filter-photo__range--crop::before {
        width: 22px;
        height: 22px;
        background-size: 22px 22px;
        background-image: url(../img/catalog-img/crop.svg); }
      .filter-photo__range--fill::before {
        width: 24px;
        height: 22px;
        background-size: 24px 22px;
        background-image: url(../img/catalog-img/fill.svg); }
      .filter-photo__range--contrast::before {
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
        background-image: url(../img/catalog-img/contrast.svg); } }
  @media (min-width: 1200px) {
    .filter-photo__range:nth-child(4) {
      border-bottom: none; }
    .filter-photo__range::before {
      top: -20px;
      left: 10px; }
    .filter-photo__range--crop::before {
      width: 44px;
      height: 44px;
      background-size: 44px 44px; }
    .filter-photo__range--fill::before {
      width: 48px;
      height: 43px;
      background-size: 48px 43px; }
    .filter-photo__range--contrast::before {
      width: 32px;
      height: 32px;
      background-size: 32px 32px; } }

.filter-photo__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  width: 240px;
  height: 2px;
  background-color: #283645;
  margin-bottom: 30px; }
  @media (min-width: 660px) {
    .filter-photo__line {
      width: 202px;
      -webkit-transform: translateX(50px);
              transform: translateX(50px); } }
  @media (min-width: 1200px) {
    .filter-photo__line {
      width: 288px;
      -webkit-transform: translateX(80px);
              transform: translateX(80px); } }

.filter-photo__toggle {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 2px solid #d22856;
  border-radius: 50%; }
  .filter-photo__toggle:active {
    background-color: #d22856; }

.filter-photo__wrapper-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px; }
  @media (min-width: 1200px) {
    .filter-photo__wrapper-btn {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-column-gap: 45px;
              column-gap: 45px; } }

.filter-photo__btn {
  width: 260px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  padding: 10px;
  border-radius: 30px; }
  @media (min-width: 660px) {
    .filter-photo__btn {
      width: 260px; } }
  @media (min-width: 1200px) {
    .filter-photo__btn {
      width: 183px; } }

.filter-photo__btn--submit {
  color: #d22856;
  border: 3px solid #d22856; }
  .filter-photo__btn--submit:hover {
    color: #fff;
    background-color: #d22856; }
  .filter-photo__btn--submit:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d22856; }

.filter-photo__btn--reset {
  color: rgba(40, 54, 69, 0.1);
  border: 3px solid rgba(40, 54, 69, 0.1); }
  .filter-photo__btn--reset:hover {
    color: rgba(40, 54, 69, 0.3);
    border-color: rgba(40, 54, 69, 0.3); }
  .filter-photo__btn--reset:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(40, 54, 69, 0.3);
    border-color: rgba(40, 54, 69, 0.3); }

.filter-photo__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 40px 0; }
  @media (min-width: 660px) {
    .filter-photo__box {
      margin: 0; } }

.filter-photo__icon--active {
  fill: #d22856;
  fill-opacity: 1; }
.filter-photo__icon:hover {
  fill: rgba(40, 54, 69, 0.5); }

.disabled-renge {
  display: none; }
  @media (min-width: 660px) {
    .disabled-renge {
      display: block; } }

@media (min-width: 660px) {
  .filter-photo__btn-img {
    display: none; } }

/*# sourceMappingURL=style.css.map */